* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main {
    background-color: blanchedalmond;
}
.header {
    min-height: 28px;
}
.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 3rem;
    height: 100svh;
    place-items: center;
    border: 2px solid darkred;
}

.card {
    display: flex;
    min-width: 380px;
    min-height: 520px;
    margin: auto;
    flex-direction: column;
    align-items: center;
    background-color: aquamarine;
    border: 2px solid blue;
    font-size: 2rem;
}

h1 {
    margin-top: 98px;
}
h3 {
    font-size: 2rem;
    flex-grow: 1;
}
h6 {
    padding-bottom: 32px;
}